<!-- app/views/movies/index.html.erb -->
<h1>All Movies</h1>

<%= render 'search_form' %>

<div class="movies-list">
  <% @movies.each do |movie| %>
    <div class="movie">
      <h2><%= movie.title %></h2>
      <p><strong>Actor:</strong> <%= movie.actor %></p>
      <p><strong>Description:</strong> <%= movie.description %></p>
      <p><strong>Year:</strong> <%= movie.year %></p>
      <p><strong>Director:</strong> <%= movie.director %></p>
      <p><strong>Filming Location:</strong> <%= movie.filming_location %></p>
      <p><strong>Country:</strong> <%= movie.country %></p>
    </div>
  <% end %>
</div>